@using ShoppingApp.Web.Models.Dtos


@model List<ProductDto>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row gap-2">
    @*<table class="table table-bordered">
        <thead>
            <tr class="bg-danger text-white">
                <th>Id</th>
                <th>Ürün Adı</th>
                <th>Ürün Fiyatı</th>
                <th>Eklenme Tarihi</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var productDto in Model)
            {
                <tr>
                    <td>@productDto.Id</td>
                    <td>@productDto.Name</td>
                    <td>@productDto.Price</td>
                    <td>@productDto.DateAdded</td>
                </tr>

            }
        </tbody>
    </table>*@


    
    }
         


</div>
