@model ProductAddDto
<h1>Yeni Ürün Ekleme</h1>
<hr />
<form asp-area="Admin"
      asp-controller="Product"
      asp-action="Create"
      enctype="multipart/form-data"
      method="post">
    <div class="row">
        <div class="col-8">
            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input class="form-control" asp-for="Name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Price" class="form-label"></label>
                <input class="form-control" asp-for="Price">
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ImageFile" class="form-label"></label>
                <input type="file" asp-for="ImageFile" accept="image/" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Description" class="form-label"></label>
                <input class="form-control" asp-for="Description">
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Kaydet</button>
        </div>
        <div class="col-4">
            <div class="mb-3">

                <label class="form-label" asp-for="Categories"></label>@*// Kategoriler başlığı yazdı*@

                @foreach (var category in Model.Categories) @*Modelin içine bakıyor*@
                {
                    <div>
                        <input type="checkbox" @* 1.KAtegori i.in checkbox olan input üretip yanına yanına adını yazıyor sonr başa dönüyor*@
                           class="form-check-input"
                           name="selectedCategoryIds"
                           value="@category.Id"
                           @if (Model.SelectedCategoryIds!=null)
                           {
                           @(Model.SelectedCategoryIds.Any(sc=>sc==category.Id) ? " checked" : "")
                           } />
                        @*Modelden gelen  SelectedCategoryIds dizisinin içine bakacağız ancak en başta hiç kayıt yapmadığımız için boş                              geliyor bu sebepten dolayı null kontrolü yapıyoruz. İlk kayıttan sonra null olamayacak hata vermeyecek Sonrasında                       (any) diyerek içinde category.ıd varmı diye bakıyoruz yani üstte value'ye Id leri vermiştik. O checkbox işaretli mi                        diye bakıyoruz. Eğer değilse checked yap işaretli olark göndür dedik. *@
                        <label>@category.Name</label>
                    </div>
                }
                <span asp-validation-for="SelectedCategoryIds" class="text-danger"></span>
            </div>
        <div class="mb-1">Seçenekler</div>
            <div>

                <input class="form-check-input" type="checkbox" asp-for="IsHome">
                <label asp-for="IsHome" class="form-label"></label>
                <span asp-validation-for="IsHome" class="text-danger"></span>
            </div>
            <div class="mb-3">

                <input class="form-check-input" type="checkbox" asp-for="IsApproved">
                <label asp-for="IsApproved" class="form-label"></label>
                <span asp-validation-for="IsApproved" class="text-danger"></span>
            </div>
        </div>
    </div>
</form>