@model Yazar
@{
    ViewData["Title"] = "YazarEkle";
}
<h1>Yeni Yazar Ekle</h1>
<form asp-controller="Home" asp-action="YazarEkle" method="post">
    <div class="row">
        <div class="col-2">
            <label for="" asp-for="Ad"></label>
        </div>
        
        </div>
    </div>
</form>