
<div class="row">
    <div class="col-12">
        <div class="alert alert-danger">
            @if (ViewBag.Tip=="Kategori")
            {
                <p>Bu kategoriye ait bir kitap bulunamadı.</p>
            }
            else if (ViewBag.Tip=="Yazar")
            {
                <p>Bu yazara ait bir kitap bulunamadı.</p>

            }
        </div>
    </div>
</div>