@using OzelDersYerim.Entity.Concrete;

@model List<Branch>
<div class="list-group">
    <a class="list-group-item list-group-item-action @(ViewBag.SelectedBranch ==null ? "active" : "")"
       asp-controller="Choose"
       asp-action="TeacherList"
       asp-route-branchurl="">Tümünü Göster</a>
    @foreach (var branch in Model)
    {
        <a class="list-group-item list-group-item-action @(ViewBag.SelectedBranch==branch.Url ? "active" : "")"
       asp-controller="Choose"
       asp-action="TeacherList"
       asp-route-branchurl=@branch.Url>@branch.BranchName</a>
    }
</div>